     /* Esto es dar estilo por Elemento */
     h1 {
        color: red;
        background-color: black;
    }

    h2 {
        color: yellow;
        background-color: blue;
    }

    body {
        background-color: lightblue;
    }

    /* Esto es dar estilo por Elemento anidando mas de 1 Elemento*/
    h3,
    h4 {
        color: green;
        background-color: black;
    }

    * {
        /* El asterisco '*' es dar estilo a todos los elementos de la pagina */
        font-family: 'Courier New', Courier, monospace;
    }