h1 {
    background-color: black;
    color: white;
}

h2 {
    background-color: red;
}

/*Selector Combinado*/
h2.seccion3 {
    color: yellow;
}

p.seccion1 {
    background-color: green;
}

#parrafoSeleccionado {
    color: violet;
}


.estilo-fuente-distinto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*Selector Combinado*/
.seccion1.estilo-fuente-distinto {
    text-align: end;
}