.cajita1{
    border: 2px solid black;
    background-color: yellowgreen;
    padding-top: 50px;
    padding-left: 30xp;
    padding-right: 30px;
    padding-bottom: 50px;
}

/*
-----------------------------------------------------
Using Shorthand: Que basicamente es utilizar un atributo que englobe otros atributos (En este caso para el atributo padding)
-----------------------------------------------------
*/
.cajita2{
    border: 2px solid black;
    background-color: aquamarine;
    padding: 50px 30px 50px 30px;
}